<h2>Feedback</h2>

<p>If you have any questions, comments, or suggestions for this website, or 
if you are experiencing a problem, please don't hesitate to send me an email at 
<a href="mailto:<%= @admin_email %>"><%= @admin_email %></a>.
If you are reporting a problem, please be sure to include the approximate time
the problem occured.
</p>
